body {
    background-color:#121212;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}

main{
    flex: 1;
}

#boite{
    border-radius: 0px;
    background-color:#e0e0e0;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#boutton{
    border-radius: 25px;
}

#element{
    padding-left: 30px;
    border-radius: 25px;
}

header{
    padding-bottom: 20px;
    padding-left: 44%;
}

main{
    padding-left: 42%;
}

